body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.student-photo {
    display: block;
    justify-content: space-between;
    margin: 1em auto;
    max-width: 200px;
    
}

section {
    padding: 1em;
    background: #fff;
    margin: 1em auto;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #f4f4f4;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 3px;
}
